.question {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.option {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}
.option-text {
    flex-grow: 1;
    word-break: break-word;
    padding-right: 1rem;
}
.option-buttons {
    flex-shrink: 0;
    white-space: nowrap;
}
.modal-body input {
    width: 100%;
}
.question-buttons {
    margin-bottom: 1rem;
}
.question-text {
    word-break: break-word;
}

body {
    background-color: #f8f9fa;
}
.video-item {
    border-radius: 15px;
    overflow: hidden;
}
.video-thumbnail {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.video-thumbnail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.card-body {
    padding: 1.25rem;
}
.card-footer {
    background-color: transparent;
    border-top: none;
    padding: 0.75rem 1.25rem 1.25rem;
}
.btn-sm {
    border-radius: 20px;
    padding: 0.25rem 0.75rem;
}