.question {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.option {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}
.option-text {
    flex-grow: 1;
    word-break: break-word;
    padding-right: 1rem;
}
.option-buttons {
    flex-shrink: 0;
    white-space: nowrap;
}
.modal-body input {
    width: 100%;
}
.question-buttons {
    margin-bottom: 1rem;
}
.question-text {
    word-break: break-word;
}